$primary-color: #26b27b;
$second-color: #f3f3f3;
$third-color: #3087f7;
$white: #fff;
$text-color: #69876b;
$shadow-color: #bcf1dc;

$font-large: 20px;
$font-medium: 18px;
$font-normal: 15px;
$font-small: 12px;
